@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
}

body{
    font-family: Space Mono;
}

.change{
    font-family: Lexend Deca;
}
